<%- include('../partials/header'); -%> 

<div class="row">

    <div class=" conntainer form-grop" style = "margin: 3% 35% 3% 5% ;" >
        <a href="/"><button class="btn btn-lg btn-success btn-block">Go Back </button></a>
    </div>


    <div>
        <h1 class="container" style="text-align: center; margin: 60% auto; color: darkorchid; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><strong><h3>Tags</h3></strong></h1>
    </div>
    

    <div class=" conntainer form-grop" style = "margin: 3% 5% 3% 35% ;" >
        <a href="#"><button class="btn btn-lg btn-success btn-block">Add New Tag</button></a>
    </div>
</div>

<!-- <div class="container" style="margin:2rem auto 2rem auto; text-align: center; color: mediumslateblue;">
    <h3>Tags</h3>
</div> -->

<div class="row" style="display: flex; flex-wrap: wrap;">
    <% tag.forEach(function(tag){ %>
        <div class="col-md-3 col-sm-6" style=" margin:1% 0% 1% 5.15%; ">

            <div class="caption" style="text-align: center; color: dodgerblue;">
                <h3> <%= tag.name %>  </h3>
            </div>

            <div class="thumbnail">
                <img src="<%= tag.image %>">
            </div>
            <div>
                <a href="/alltag/<%= tag._id %>"><button class="btn btn-primary" style="text-align: center;padding: 1% 50% 1% 50%; margin:1% auto 1% auto;" >Go</button></a>
            </div>
            
        </div>
    <% }); %> 
</div>
<%- include('../partials/footer'); -%> 