<%- include('../partials/header'); -%> 

<div class="container" style="margin:2rem auto 2rem auto; text-align: center; color: mediumslateblue;">
    <h3>Tags</h3>
</div>
<div class="row" style="display: flex; flex-wrap: wrap;">
    <% tag.forEach(function(tag){ %>
        <div class="col-md-3 col-sm-6" style=" margin:1% 0% 1% 5.15%; ">

            <div class="caption" style="text-align: center; color: dodgerblue;">
                <h3> <%= tag.name %>  </h3>
            </div>

            <div class="thumbnail">
                <img src="<%= tag.image %>">
            </div>
            <div>
                <a href="/alltags/<%= tag._id %>"><button class="btn btn-primary" style="text-align: center;padding: 1% 50% 1% 50%; margin:1% auto 1% auto;" >Go</button></a>
            </div>
            
        </div>
    <% }); %> 
</div>
<%- include('../partials/footer'); -%> 